<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>官方公告</title>

    <link rel="stylesheet" href="/css/news.css">
    <script src="/js/jquery-3.6.0.min.js"></script>
</head>

<body>

    <nav class="navbar">
        <div class="container navbar-content">
            <a href="/">首页</a>
            <a href="/hot">我要上热门</a>
        </div>
    </nav>

    <img src="/img/ya.jpg" class="index-bg">

    <div class="container">
        <h1>联盟资讯</h1>
        <h4></h4>
    <tbody>
        <% for(let o of data){%>
        <form action="/details/<%=o.id%>" method="POST">
        <div class="news-list">
            <div class="news-list-left">
                <div class="news-list-item">
                    <div class="author-time" name="name">
                        <%=o.name%>:
                    </div>
                    <div class="news-des">
                        <h3 class="news-title"><i></i><a href="#" name="title"><%=o.title%></a></h3>
                        <div class="news-content-des" name="content">
                        <%=o.content%>
                        </div>
                        <div style="text-align: center;"><img width="500" src="/img/<%=o.img%>"/></div>
                    </div>
                    <div style="text-align:right" name="time"><%=o.time%></div>
                </div>
        </form>
        <% } %>

        <form action="/details/id/add" method="POST">
        <div>
            <% for(let l of datas){%>
        <div style="font-family: monospace">
            <div style="float: left;"><%=l.name%>:</div>
            <div><%=l.comment%></div>
        </div>
        <% } %>
            <div style="text-align: center; font-family: monospace">
              评论: <textarea name="comment" id="" ></textarea>
            </div>
            <div style="text-align: center;">
                <input type="submit" id="tj" value="发表">
            </div>
            
        </div>
        </form>
                        <footer class="copyright">
                              Copyright &nbsp; 2021 DreamBoy All rights reserved.
                        </footer>    
            </div>
        </div>
    </tbody>    
</body>
</html>

<script>

$('#tj').click(function(){
			alert('评论成功!')
		})


// $('#tj').click(function(){
//     $.ajax({
//         type:"post",
//         url:"/details/id/add",
//         data:{},
//         success:
//     })
// })

</script>

