<!DOCTYPE html>
<html>
<head>
<meta name="Keywords" content="LOL,英雄联盟,LOL客服,LOL人工,LOL客服电话,LOL客服专区,LOL客服帮助,英雄联盟客服,英雄联盟人工,英雄联盟客服电话,英雄联盟客服专区,英雄联盟客服帮助"/>
<meta name="description" content="LOL客服专区，为您解决游戏过程中遇到的登录、账号、违规处罚、举报外挂等问题，您可在此查询帮助指引或直接联系客服。"/>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
<meta name="renderer" content="webkit"/>
<meta http-equiv="Cache-Control" content="max-age=60"/>
<meta name="keywords" content=""/>
<meta name="description" itemprop="description" content=""/>
<link rel="stylesheet" type="text/css" href="//imgcache.qq.com/bossweb/service/kf-ui/pc-login/css/style-m-login.css">
<link name="description" rel="stylesheet" type="text/css" href="//kf-ui.cdn-go.cn/pc-game/latest/css/style-lol.css"/>
<meta charset="utf-8">
<title>腾讯客服-英雄联盟专区</title>
</head>
<body  id="home">
<!-- <div id="login_div"  style="position: absolute; width:650px; height:580px;z-index: 1001; top: 50%; left: 50%; display: none;" align="center">
    <iframe id="login_frame" name="login_frame" frameborder="0" scrolling="auto" width="100%" height="100%" src=""></iframe>
</div> -->


<div id="login_div"  style="position: fixed; width:650px; height:580px;z-index: 99999; top: 50%; left: 50%; display: none;" align="center">
    
		<!-- <div class="mod-login">
			<div class="login-mask"></div>
			<div class="login-dialog">
				<div class="m-login">
					<i class="login-font icon-login__close" id="loginClose"></i>
					<iframe id="login_frame" name="login_frame" frameborder="0" scrolling="auto" width="100%" height="100%" src=""></iframe>
				</div>
			</div>
		</div>>  -->
		<div class="mod-login">
				<div class="login-mask"></div>
				<div class="login-dialog">
					<div class="m-login">
						<i class="login-font icon-login__close" id="loginClose"></i>
						<iframe id="login_frame" name="login_frame" frameborder="0" scrolling="auto" width="100%" height="100%" src=""></iframe>
					</div>
				</div>
			</div>
</div>
<div class="layout-header">
	<div class="header-inner">
	    <h1 class="layout-logo">
	        <a href="javascript:void(0);" class="link-logo" id="logininner_name">
	            <div class="logo"></div>
	            <strong class="link-inner" ></strong>
	        </a>
	    </h1>
	    <div class="layout-search">
	        <div class="search-inner">
	            <div class="search-key">
	                <input type="text" class="search_input" id="search" SearchSuggest="true" accesskey="/" autocomplete="off" placeholder="请输入需要咨询的问题" autocomplete="" value="">
	                <input id="search_hidden" type="hidden"/>
	            </div>
	            <button class="search-button" id="search_btn">
	                <i class="iconfont icon-sousuo" ></i>
	            </button>
	        </div>
	        <div class="search-box" id="search_suggest" style="display: none">
	        </div>
	    </div>

	    <div class="layout-quick" id="login_quick">
            <div class="layout-logged" id="layout_logged" style="display:none">
                <span class="avatar" id="uinPhoto"></span>
                <span class="name" id="uintext"></span>
                <span class="arrow"></span>
                <div class="loggged-list" id="loginOut" style="display:none">
                </div>
            </div>
            <a href="javascript:void(0);" class="layout-quick_login" id="loginBtn">登录</a>
	        <a href="javascript:void(0);" class="layout-quick_record" id="login_service" style="display:none">服务记录</a>
        </div>
	</div>
</div>
<input type="hidden" name="product" id="pro_code" value="A1130" />
<input type="hidden" name="product" id="is_hot" value="1" />
<!--头部引入-->
<!--内容区域begin-->
<div class="layout-wrap">
    <div class="layout-gamename">
        <strong>英雄联盟</strong>客服专区
    </div>
    <!-- 内容区开始 -->
<div class="layout-content">
    <div class="layout-main">
        <div class="layout-box">
            <!-- 登录状态内容区 开始 -->
            <div class="mod-row_box" >
                <div class="logininfo" id="roleinfo">
                    <div class="loginimg"></div>
                    <div class="logintxt" id="logintxt"></div>
                    <div class="loginstate" id="loginstate" style="display:none">
                        <span class="title">当前角色：</span>
                        <span class="list-item" id="item_area"></span>
                        <span class="list-item" id="item_roleinfo"></span>
                        <span class="list-item" id="item_job"></span>
                        <a href="javascript:void(0);" class="switch" id="cheange_role">切换角色</a>
                        <span class="vip diamond" id="isvip" style="display:none"></span>
                    </div>
                </div>
            </div>
            <!-- 登录状态内容区 结束  -->
            <!-- 为您推荐 开始 -->
            <div class="mod-row_box" id="predict" style="display:none">
                <div class="mod-title">
                    <h2 class="title">为您推荐</h2>
                </div>
                <div class="mod-bd">
                    <div class="hot">
                        <div class="list-item" id="punish_record" style="display:none">
                        </div>
                        <div class="list-item" id="service_record" style="display:none">
                        </div>
                    </div>
                </div>
            </div>
            <!-- 为您推荐 结束 -->
            <!-- 热门问题 开始 -->
            <div class="mod-row_box">
                <div class="mod-title" id="hot_title">
                    <h2 class="title">热门问题</h2>
                </div>
                <div class="mod-bd">
                    <div class="hot-problem">
                        <ul id="faqlist">
                        </ul>
                    </div>
                </div>
            </div>
            <!-- 热门问题 结束 -->
            <!-- 自助工具 开始 -->
            <div class="mod-row_box" id="tools_list">
                <div class="mod-title">
                    <h2 class="title">自助工具</h2>
                </div>
                <div class="mod-bd">
                    <div class="selftool">
                        <ul id="box_list">
                        </ul>
                    </div>
                </div>
            </div>
            <!-- 自助工具 结束 -->
        </div>
    </div>
    <div class="layout-side">
        <div class="side-list">
            <ul id="menu_list">
            </ul>
        </div>
    </div>
</div>
<!-- 内容区结束 -->
</div>
	<!-- dialogs开始 -->
<div class="dialogs" style="display:none;" id="dialogs_roleinfo">
    <div class="dialogs-mask"></div>
    <div class="dialogs-box service-area">
        <div class="dialogs-hd">选择区服</div>
        <div class="dialogs-bd">
            <div class="mod-select">
                <div class="list-item">
                    <span class="name">大区</span>
                    <span class="selectbox" id="selectbox_area">
                        <select id="dialogs_area">
                            <option value="0">-- 请选择您的大区 --</option>
                        </select>
                        <div class="select-styled">-- 请选择您的角色 --</div>
                        <!-- <select id="dialogs_area">
                        </select> -->
                    </span>
                </div>
                <div class="list-item">
                    <span class="name">角色</span>
                    <span class="selectbox" id="selectbox_role">
                        <div class="select-area">
                            <select id="dialogs_role" class="select-hidden">
                                <option value="0">-- 请选择您的角色 --</option>
                            </select>
                            <div class="select-styled">-- 请选择您的角色 --</div>
                        </div>
                    </span>
                </div>

            </div>
        </div>
        <div class="dialogs-ft">
            <a href="javascript:void(0);" class="btn btn-red" id="roles_btn" disabled="disabled">确定</a>
        </div>
        <a href="javascript:void(0);" class="iconfont icon-close" id="dialogs_area_close"></a>
    </div>
</div>
<!-- dialogs 结束 -->

<!--内容区域end-->
<div class="layout-foot">
    <div class="link">
        <a href="https://kf.qq.com" target="view_window">腾讯客服</a>
        <a href="https://www.tencent.com/zh-cn/index.html" target="view_window">关于腾讯</a>
        <a href="https://www.tencent.com/en-us/index.html" target="view_window">about Tencent</a>
        <a href="http://www.qq.com/contract.shtml" target="view_window">服务条款</a>
    </div>
    <p id="copyright" ></p>
</div>
<script type="text/javascript">
	var nDate = new Date();
	document.getElementById("copyright").innerHTML='Copyright © 1998 - '+nDate.getFullYear()+' Tencent. All Rights Reserved.   腾讯公司 版权所有    粤网文[2011]0483-070号';
</script>
<!-- 页脚 结束 -->
<script src="https://imgcache.qq.com/bossweb/service/js/jquery-1.9.1.min.js"></script>
<script src="/newgames/dist/index.bundle.js"></script>
</body>
</html>
