<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Document</title>
<script type="text/javascript" src="js/html5shiv.min.js"></script>
<link rel="stylesheet" href="css/header.css">
<link rel="stylesheet" href="css/minLink.css">
<script src="js/jquery-3.6.0.min.js"></script>
</head>
<body>
	<header class="header">
		<div class="headerDiv clearFix">
			<h1>
				<a href="index.html" class="logo"></a>
			</h1>
			<ul class="nav">
				<li class="navListNormal">
					<a href="/" class="navA">首页</a>
					<a href="/news" class="navA">返回官方公告</a>
				</li>
				
			</ul>
		</div>
	</header>
<main class="LMain">
	<div class="LWrap">
		<div class="LTop">
			<h2>文章内容</h2>
		</div>
		<div class="LContainer">
			<div class="LminLink">
				<p class="LminLinkText">
				<h1 class="LminLinkText1">我要上热门</h1>
				</p>
			</div>
		<form action="/hot/add" method="POST">
			<div class="success">标题:
				<input type="text"name="title">
			</div>
			<div class="success">发表人:
				<input type="text" name="name">
			</div>
			<section class="success">
				<h4>文章内容:</h4>
				<div class="successCase clearFix">
					
					<div class="successListLR">
						<div class="momeyText">
							<div class="lineArrow1"></div>
							<p><textarea name="content" id="" cols="30" rows="10" style="height: 250px;
								width: 735px;"></textarea></p>
							<div class="Imgsin1">
							</div>
						</div>
						
					</div>
				</div>
			</section>
		
			
			<div class="fund">
				<button type="submit" id="tj" class="but1">我要发布</button>
			</div>
		</form>
		</div>
	</div>
</main>
</body>
</html>

<script>
	$('#tj').click(function(){
			alert('发表成功,请等待审核!')
		})
</script>