<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title>首页</title>
		<link rel="stylesheet" href="css/page.css" />
		<link rel="stylesheet" href="/css/lol2.css">
		<script type="text/javascript" src="js/jquery.min.js" ></script>
		<script type="text/javascript" src="js/index.js" ></script>
	</head>

	<body>
		<div class="left">
			<div class="bigTitle">日志后台</div>
			<div class="lines">
				<div onclick="pageClick(this)" class="active"><img src="img/icon-1.png" />日志管理</div>
			</div>
		</div>
		<div class="top">
			<div class="leftTiyle" id="flTitle">日志管理</div>
			<a href="/xdmin"><div class="thisUser">返回后台首页</div></a>
			<div class="thisUser">当前管理员：admin</div>
		</div>
		<div class="content">
				<table border="1" class="biao">
					<thead>
						<tr style="height: 50px">
							<th>日志编号</th>
							<th>操作内容</th>
							<th>操作时间</th>
							<th>ip地址</th>
						</tr>
					</thead>
					<tbody>
					    <% for(let o of data){%>
					 <tr id="a1">
							<td><%=o.id%></td>
							<td class="hero"><%=o.handle%></td>
							<td><%=o.time.toLocaleString()%></td>
							<td><%=o.ip%></td>
					</tr>
					    <% } %>
					</tbody>
				</table>
		</div>
	</body>
</html>