<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>文章发布系统</title>

    <link rel="stylesheet" href="/css/news.css">
</head>

<body>
    <nav class="navbar">
        <div class="container navbar-content">
            <a href="/">首页</a>
            <a href="#">关于我们</a>
        </div><!-- /.container-fluid -->
    </nav>

    <img src="/img/ig.jpg" class="index-bg">
    <div class="container">
        <h1>文章发布系统</h1>
        <h4></h4>

        <div class="news-list">
            <div class="news-list-left">
                <div class="news-list-item">
                    <div class="author-time">
                        <span>英雄联盟团队</span> 发表于 <span>2021-05-20</span>
                    </div>
                    <div class="news-des">
                        <h3 class="news-title"><i></i><a href="#">英雄剖析：佛耶戈</a></h3>
                        <div class="news-content-des">
                            破败之王是联盟历史上最具标志性的人物之一。但也不过如此——他属于历史。佛耶戈的生平和那些招致破败之咒的事件都发生在1000年前，虽然后果依然显现在符文之地，但这充其量也就是世界历史中的一个悲剧篇章。但一切都在今天改变了。
                            破败之前的时代
                            “我做完赛娜以后，我们的首席制作人Ryan ‘Reav3’
                            Mireles随口感慨了一下，说玩家们似乎很愿意看到英雄之间的背景故事关联，尤其是那些耳熟能详的英雄和故事。玩家们很喜欢看到赛娜、卢锡安和锤石之间的故事进展。”英雄设计师August
                            “August”
                            Browning回忆当初的情形说，“于是我就开玩笑说我们接下来应该把破败之王做出来，给这个故事线做完整，然后他就瞅着我说，‘这个主意太棒了。你的下一个英雄就是他了。’”
                            “设计佛耶戈是很有趣的，因为他生活在1000年前，他的国家如今已不存在了。这就意味着我们不仅要创造出佛耶戈，还要构想一整个文明。”叙事带头人Jared “Carnival
                            Knights” Rosen介绍说。
                            “我最初的思路是构想一个愿意为了自己心爱的女人抛弃一切的人——这是当时我们对佛耶戈的全部了解。他是什么样的人?他生活在什么样的世界?他有什么样的动机?”
                        </div>
                    </div>
                </div>

                <div class="news-list-item">
                    <div class="author-time">
                        <span>英雄联盟团队</span> 发表于 <span>2021-05-20</span>
                    </div>
                    <div class="news-des">
                        <h3 class="news-title"><i></i><a href="#">英雄剖析：格温</a></h3>
                        <div class="news-content-des">
                            你是否还记得儿时最喜欢的玩具?是白色小熊?还是浑身肌肉的霹雳人?或者是一位白天统治毛绒玩具王国、夜里惩治犯罪的小公主?

                            这些玩具，以及它们所唤起的记忆，是全世界人们共有的。无论你是哪里人，有怎样的童年，无论你的民族、身份、背景……我们都有着相同的玩具。所以符文之地为什么不能有呢?

                            试想一下这个场景：一个卡马维亚的乡下小女孩领着自己做的布娃娃公主穿梭在麦田里。她们会在金色的田地里一直玩到天黑。她给娃娃取的名字是——格温，听上去就对自己的主人一心一意。这个娃娃的衣服很别致，图案样式效仿了港口里停泊的卡马维亚战舰。她身上的一切，都承载着一个小女孩的梦想——有朝一日她要亲自进到城堡里看看。

                            或许有朝一日她们真的能迎来这个机会。布娃娃和主人会跨过海洋，体验王族的生活，也许，只是也许，还能嫁给王子。三个人从此过上幸福的生活。

                            可惜故事的结局不是这样的。这个故事可没那么圆满。

                            一件玩具，来自一个早已远去的时代

                            格温的故事，和许多英雄一样，都是带有目的性的：创作一个“活泼可爱的游击杀手”。刚出完佛耶戈，紧接着再出一个苦大仇深、闷闷不乐的英雄，给人感觉「我太难了」，所以设计团队制定的方向是抡剑大王的反面，也就是欢快愉悦。

                            “我们已经有许多英雄都属于‘愉快且乐观’类型的了，比如拉克丝和萨勒芬妮。”剧情作家Michael “SkiptoMyLuo”
                            Luo介绍说，“所以我们需要确保找到一个新的切入点。有一个视角是我们尚未探索过的，就是那种见什么都新鲜的人——就连青草的触感和海洋的气味这种微不足道的小事，也能开心好一阵。我们对这些小事视若无睹，因为对我们来说，这些东西随处可见。”

                            格温的原创概念画师Paul “Zeronis” Kwon从这个想法出发，创作了许多不同的角色，他们都可能会理解生命的喜悦有多么奔腾不息。但其中有一个特别的概念创意让人眼前一亮：布娃娃。
                        </div>
                    </div>
                </div>

                <div class="news-list-item">
                    <div class="author-time">
                        <span>英雄联盟团队</span> 发表于 <span>2021-05-20</span>
                    </div>
                    <div class="news-des">
                        <h3 class="news-title"><i></i><a href="#">英雄
                                英雄剖析：永恩 亚索快乐的时候，他都在苦练剑术</a></h3>
                        <div class="news-content-des">
                            卡莎、赛娜和永恩有什么共同点?如果你说“都能打下路”，嗯……这么说也没错，但我们期待的回答是：“在上我的常Ban名单之前，他们都已经在传说中出现过了。”

                            永恩是第三个从传说走进召唤师峡谷的英雄，尽管我们觉得他的到来能推动游戏故事的发展，但坦白地说，他也给我们带来了很多棘手的麻烦。目前为止，永恩只存在于亚索的人生经历中的一些零碎片段，我们纯粹是通过亚索的视角去了解他，仅凭这些内容并不足以塑造一个有血有肉的英雄形象。

                            那怎样才能在忠于现有故事的基础上，让一个边缘配角成为故事的主角(或者反英雄)呢?
                        </div>
                    </div>

                    <div class="news-list-item">
                        <div class="author-time">
                            <span>英雄联盟团队</span> 发表于 <span>2021-05-20</span>
                        </div>
                        <div class="news-des">
                            <h3 class="news-title"><i></i><a href="#">在玩家实验室中进化的卡莎</a></h3>
                            <div class="news-content-des">
                                大家好，我是Riot
                                Blaustoise。我是玩法前瞻团队的负责人，也是英雄团队的研究人员之一。前瞻团队最近发布了我们用来评估英雄名单状态的多种定量法，鉴别重做的机会，衡量平衡性改动对英雄人气的影响。而今天，我们把重点放在剖析如何帮助设计和开发英雄。今天我们特别来聊聊卡莎，虚空之女。

                                前瞻团队和英雄团队密切合作，我们不能在缺乏英雄团队代表的情况下写好这篇文章。除了当之无愧的虚空版找茬主角Riot Jag本人，还有谁更适合来探讨卡莎的开发呢。

                                Jag：大家好，我叫Jeevun Sidhu，人称“Riot
                                Jag”，外号贫民窟的优雅富翁，又名卡莎的首席玩法设计师。和我们一直创作的每位英雄一样，我们靠前瞻团队获得玩家对卡莎的早期看法，藉此帮助我们解决更为棘手的内部问题。
                            </div>
                        </div>
                    </div>
                </div>



                        <footer class="copyright">
                              Copyright &nbsp; 2021 DreamBoy All rights reserved.
                            </footer>
                     
            </div>
               
        </div>
         
</body>

</html>