<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title>首页</title>
		<link rel="stylesheet" href="css/page.css" />
		<link rel="stylesheet" href="/css/lol2.css">
		<script type="text/javascript" src="js/jquery.min.js" ></script>
		<script type="text/javascript" src="js/index.js" ></script>
	</head>

	<body>
		<div class="left">
			<div class="bigTitle">用户管理后台</div>
			<div class="lines">
				<div onclick="pageClick(this)" class="active"><img src="img/icon-3.png" />用户管理</div>
				
			</div>
		</div>
		<div class="top">
			<div class="leftTiyle" id="flTitle">用户管理</div>
			<a href="/xdmin"><div class="thisUser">返回后台首页</div></a>
			<div class="thisUser">当前管理员：admin</div>
		</div>
		<div class="content">
				<table border="1" class="biao">
					<thead>
						<tr style="height: 50px">
							<th>用户编号</th>
							<th>用户名</th>
							<th>用户密码</th>
						</tr>
					</thead>

					<tbody>
					    <% for(let o of data){%>
					 <tr id="a1">
							<td><%=o.id%></td>
							<td class="hero"><%=o.name%></td>
							<td><%=o.pass%></td>
							<td>
								<button class="c3  delete" data-id=<%=o.id%>>删除用户</button>
							</td>
					</tr>
					    <% } %>
					</tbody>
				</table>
		</div>
	</body>
</html>
<script>
	$(function(){
     //删除
    Array.from(document.getElementsByClassName("delete")).forEach(i=>{
            i.onclick = (()=>{
            let id = i.getAttribute('data-id')
            $.ajax({
                url:"/user/del/"+id,
                type:"delete",
                success:function(data){
                    if(data == 'success'){
                        alert('删除成功')
                        $(i).parent().parent().remove()
                    }
                }
            })
        }
            )
    })
});
</script>