<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOL后台管理</title>
    <link rel="stylesheet" href="css/lol.css">
</head>

<body>

    <div class="z">
        标题:<input type="text" class="queryInput" placeholder="请输入标题"> 内容:
        <input type="text" class="queryInput"> 
        <button class="c" onclick="seek()">查询</button>
        <a href="#" id="qk" class="qk">清空</a>
        <a href="/xdminlogo" id="qk" class="qk">管理员登录</a>
    </div>

    <div>
        <ul class="dier">
            <button class="add" id="margin" onclick="alert()">发表文章</button>
           <a href="/issue"><button> 问题与意见反馈管理</button></a> 
        </ul>
    </div>

    <div class="pa">
        <table border="1" class="biao" id="biao">
        <thead>
            <tr style="height: 50px">
                <th>标题</th>
                <th>发表人</th>
                <th>文章内容</th>
                <th>发表时间</th>
                <th>操作</th>
            </tr>
        </thead>

        <tbody>
            <% for(let o of data){%>
                <tr>
                        <td><%=o.title%></td>
                        <td><%=o.name%></td>
                        <td><%=o.content%></td>
                        <td><%=o.create_time%></td>
                        <td>
                            <button class="c">详情</button>
                            <button class="c2">修改</button>
                            <button class="c3  delete" onclick="R1()">删除</button>
                            <button class="c4">添加图片</button>
                        </td>
                </tr>
                     <% } %>
        </tbody>
        </table>
    </div>
    <script src="js/lol.js">
    </script>
</body>
</html>